/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_select2.scss */
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

/* line 7, ../sass/_select2.scss */
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 14, ../sass/_select2.scss */
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 21, ../sass/_select2.scss */
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

/* line 24, ../sass/_select2.scss */
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 31, ../sass/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 37, ../sass/_select2.scss */
.select2-container .select2-search--inline {
  float: left;
}

/* line 39, ../sass/_select2.scss */
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
}

/* line 44, ../sass/_select2.scss */
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 47, ../sass/_select2.scss */
.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

/* line 58, ../sass/_select2.scss */
.select2-results {
  display: block;
}

/* line 61, ../sass/_select2.scss */
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 66, ../sass/_select2.scss */
.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 70, ../sass/_select2.scss */
.select2-results__option[aria-selected] {
  cursor: pointer;
}

/* line 73, ../sass/_select2.scss */
.select2-container--open .select2-dropdown {
  left: 0;
}

/* line 76, ../sass/_select2.scss */
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 81, ../sass/_select2.scss */
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 86, ../sass/_select2.scss */
.select2-search--dropdown {
  display: block;
  padding: 4px;
}

/* line 89, ../sass/_select2.scss */
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* line 93, ../sass/_select2.scss */
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 95, ../sass/_select2.scss */
.select2-search--dropdown.select2-search--hide {
  display: none;
}

/* line 98, ../sass/_select2.scss */
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* line 115, ../sass/_select2.scss */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

/* line 119, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

/* line 122, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

/* line 126, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

/* line 128, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

/* line 134, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 145, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* line 147, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

/* line 150, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

/* line 153, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

/* line 155, ../sass/_select2.scss */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

/* line 158, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

/* line 163, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

/* line 169, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

/* line 173, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

/* line 179, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

/* line 188, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

/* line 194, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

/* line 196, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}

/* line 198, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

/* line 201, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 204, ../sass/_select2.scss */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

/* line 207, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

/* line 210, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

/* line 212, ../sass/_select2.scss */
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 215, ../sass/_select2.scss */
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 218, ../sass/_select2.scss */
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

/* line 220, ../sass/_select2.scss */
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
}

/* line 224, ../sass/_select2.scss */
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

/* line 227, ../sass/_select2.scss */
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

/* line 229, ../sass/_select2.scss */
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

/* line 231, ../sass/_select2.scss */
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

/* line 233, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

/* line 235, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

/* line 237, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

/* line 240, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

/* line 243, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

/* line 246, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

/* line 249, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

/* line 252, ../sass/_select2.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

/* line 255, ../sass/_select2.scss */
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* line 260, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

/* line 270, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

/* line 272, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

/* line 275, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

/* line 280, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

/* line 282, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}

/* line 298, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 309, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* line 311, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

/* line 319, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

/* line 321, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

/* line 324, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

/* line 327, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

/* line 336, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}

/* line 345, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

/* line 351, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

/* line 353, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

/* line 357, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

/* line 359, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

/* line 368, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

/* line 374, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

/* line 376, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

/* line 378, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

/* line 381, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 384, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

/* line 386, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 390, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 394, ../sass/_select2.scss */
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

/* line 397, ../sass/_select2.scss */
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
}

/* line 399, ../sass/_select2.scss */
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

/* line 402, ../sass/_select2.scss */
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

/* line 404, ../sass/_select2.scss */
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

/* line 406, ../sass/_select2.scss */
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

/* line 409, ../sass/_select2.scss */
.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

/* line 411, ../sass/_select2.scss */
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

/* line 413, ../sass/_select2.scss */
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

/* line 416, ../sass/_select2.scss */
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* line 420, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

/* line 1, ../sass/_base.sass */
body {
  background: #6aa6e6;
  color: black;
}

/* line 5, ../sass/_base.sass */
.global-wrap {
  font-family: Arial, Verdana, sans-serif;
  font-size: 18px;
  line-height: 22px;
  max-width: 1440px;
  min-width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.global-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../sass/_base.sass */
#header {
  width: 100%;
  height: 138px;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 30px;
  position: relative;
  background-color: white;
}
@media (max-width: 1023px) {
  /* line 18, ../sass/_base.sass */
  #header {
    height: 214px;
  }
}
@media (max-width: 767px) {
  /* line 18, ../sass/_base.sass */
  #header {
    height: auto;
  }
}

/* line 34, ../sass/_base.sass */
.logo {
  position: absolute;
  top: 15px;
  right: 210px;
}
@media (max-width: 767px) {
  /* line 34, ../sass/_base.sass */
  .logo {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
}
/* line 44, ../sass/_base.sass */
.logo img {
  display: block;
  height: 105px;
  margin: 0 auto;
}

/* line 49, ../sass/_base.sass */
.login {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  width: 175px;
}
@media (max-width: 767px) {
  /* line 49, ../sass/_base.sass */
  .login {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
/* line 63, ../sass/_base.sass */
.login label {
  display: block;
  margin-bottom: 2px;
}
/* line 66, ../sass/_base.sass */
.login input {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
/* line 73, ../sass/_base.sass */
.login input[type=submit] {
  padding: 6px 10px;
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  background: #fed030;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
}

/* line 89, ../sass/_base.sass */
.left-part {
  float: left;
  position: relative;
  top: 0;
  left: -66.66666%;
  width: 33.33333%;
  height: 0;
  padding-bottom: 37%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-size: 19px;
  line-height: 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
@media (max-width: 1023px) {
  /* line 89, ../sass/_base.sass */
  .left-part {
    width: 40%;
    left: -60%;
    padding-bottom: 50%;
  }
}
@media (max-width: 767px) {
  /* line 89, ../sass/_base.sass */
  .left-part {
    width: 100%;
    left: 0;
    float: none;
    padding-bottom: 0;
    height: auto;
  }
}
/* line 114, ../sass/_base.sass */
.left-part ul {
  list-style: decimal;
  list-style-position: inside;
  position: absolute;
  top: 64px;
  bottom: 30px;
  right: 0;
  left: 20px;
  overflow: auto;
}
@media (max-width: 767px) {
  /* line 114, ../sass/_base.sass */
  .left-part ul {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
/* line 128, ../sass/_base.sass */
.left-part li {
  margin-bottom: 7px;
}
/* line 130, ../sass/_base.sass */
.left-part a {
  color: black;
  text-decoration: none;
}
/* line 133, ../sass/_base.sass */
.left-part a:hover {
  text-decoration: underline;
}
/* line 135, ../sass/_base.sass */
.left-part p {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 139, ../sass/_base.sass */
.left-part .left-part-wrap {
  padding: 30px 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width: 767px) {
  /* line 139, ../sass/_base.sass */
  .left-part .left-part-wrap {
    position: relative;
  }
}

/* line 153, ../sass/_base.sass */
.right-part {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  left: 33.33333%;
  top: 0;
  width: 66.66666%;
  height: 0;
  padding-bottom: 37%;
}
@media (max-width: 1023px) {
  /* line 153, ../sass/_base.sass */
  .right-part {
    width: 60%;
    left: 40%;
    padding-bottom: 50%;
  }
}
@media (max-width: 767px) {
  /* line 153, ../sass/_base.sass */
  .right-part {
    width: 100%;
    padding-bottom: 100%;
    float: none;
    left: 0;
    margin-bottom: 20px;
  }
}

/* line 174, ../sass/_base.sass */
#map {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 174, ../sass/_base.sass */
  #map {
    left: 0;
  }
}

/* line 186, ../sass/_base.sass */
select {
  min-width: 200px;
}

/* line 190, ../sass/_base.sass */
[class*="-filter"] {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 25px;
}
@media (max-width: 1023px) {
  /* line 190, ../sass/_base.sass */
  [class*="-filter"] {
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  /* line 190, ../sass/_base.sass */
  [class*="-filter"] {
    margin-right: 0;
  }
  /* line 201, ../sass/_base.sass */
  [class*="-filter"] .select2-container {
    width: 100% !important;
    display: block;
  }
}
/* line 204, ../sass/_base.sass */
[class*="-filter"] label {
  display: block;
  margin-bottom: 5px;
}
